<div class="row ">
    <div class="col l12">
        <div class="title">
            <h5 class="fontheader1"><u>Product Management</u></h5>
            <div class="right">
                <div class="col l12">
                    <a class="btn modal-trigger" href="#additem" style="background-color:#ffc952"><i class="mdi mdi-content-add"></i></a>
                    <a class="btn" style="background-color:#ff7473"><i class="mdi mdi-action-delete"></i></a>
                </div>
            </div>
        </div>
        <div class="col l12">
            <table class="highlight">
                <thead>
                    <tr>
                        <th data-field="">Select</th>
                        <th data-field="image">Image</th>
                        <th data-field="name">Product Name</th>
                        <th data-field="color">Color</th>
                        <th data-field="size">Size</th>
                        <th data-field="">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" id="test1"><label for="test1"></label></td>
                        <td><img class="responsive-img" style="height:200px" src="/assets/images/Bedroom/1.jpg"></td>
                        <td>Super Single Size Bedsheet</td>
                        <td>White</td>
                        <td>90 x 110 Inches</td>
                        <td><a class="btn modal-trigger" href="#edititem" style="background-color:#47b8e0"><i class="fa fa-pencil fa-3x"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--                                  MODAL                                 -->

<div id="maincategory" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>New Category</h4>
        <div class="input-field">
            <input type="text" ng-model="vm.category.name">
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action waves-effect waves-green btn-flat" ng-click="vm.add_category(vm.category)">Add</a>
    </div>
</div>

<div id="subcategory" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>New Category</h4>
        <div class="input-field">
            <input type="text" ng-model="vm.category.name">
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action waves-effect waves-green btn-flat" ng-click="vm.add_category(vm.category)">Add</a>
    </div>
</div>

<div class="modal row" id="additem" style="width:80%">
    <div class="modal-content">
        <div class="row">
            <div class="input-field col s12 m12 l12">
                <input id="productname" type="text" ng-model="vm.product_details.name">
                <label for="productname">Product Name</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <select class="browser-default black-text" ng-model="vm.product_details.category">
                    <option value="" disabled selected>Select Category (Optional)</option>
                    <optgroup label="{{main_category.main_category}}" ng-repeat="main_category in vm.main_category">
                        <option value="{{sub_category._id}}" ng-repeat="sub_category in vm.sub_category" ng-if="sub_category.product_main_category === main_category._id">{{sub_category.sub_category}}</option>
                    </optgroup>
                </select>
            </div>
            <div class="input-field col s12 m6 l6">
                <select class="browser-default black-text" ng-model="vm.product_details.category">
                    <option value="" disabled selected>Select Category (Optional)</option>
                    <optgroup label="{{main_category.main_category}}" ng-repeat="main_category in vm.main_category">
                        <option value="{{sub_category._id}}" ng-repeat="sub_category in vm.sub_category" ng-if="sub_category.product_main_category === main_category._id">{{sub_category.sub_category}}</option>
                    </optgroup>
                </select>
            </div>
            <div class="col s12 m6 l6">
                <p class="grey-text">Color(Optional)</p>
                <ul class="collection col l12">
                    <li class="collection-item" style="background: #FAFAFA;">
                        <ul>
                            <li ng-repeat="color_select in vm.product_details.color track by $index" style="padding-bottom:1em">
                                <div class="row" style="margin-bottom:0px;">
                                    <span class="col l10 m10 s10">
                                        <button colorpicker type="button" colorpicker-position="top" ng-model="vm.product_details.color[$index]" ng-style="{background: vm.product_details.color[$index]}" class="btn col l12 m12 s12"></button>

                                    </span>
                                    <span class="right  l2 m2 s2" ng-hide="color_select.length == 1">
                                        <a href ng-click="vm.product_details.color.splice($index, 1)"><i class="fa fa-times fa-2x"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li class="center">
                                <a ng-click="vm.add_row(vm.product_details.color,'color', $event)"><i class="fa fa-plus fa-2x"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6 l6">
                <p class="grey-text">Size (Optional)</p>
                <ul class="collection col l12">
                    <li class="collection-item" style="background: #FAFAFA;">
                        <ul>
                            <li ng-repeat="size_select in vm.product_details.size track by $index" style="padding-bottom:1em">
                                <div class="row" style="margin-bottom:0px;">
                                    <span class="col l10 m10 s10">
                                        <input type="text" ng-model="vm.product_details.size[$index]" style="margin:0; height: 35px; text-align: center;"></input>

                                    </span>
                                    <span class="right  l2 m2 s2" ng-hide="size_select.length == 1">
                                        <a href ng-click="vm.product_details.size.splice($index, 1)"><i class="fa fa-times fa-2x"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li class="center">
                                <a ng-click="vm.add_row(vm.product_details.size, 'size', $event)"><i class="fa fa-plus fa-2x"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col s12 m12 l12">
                <p class="grey-text">Image (Optional)</p>
                <ul class="collection col l12">
                    <li class="collection-item" style="background: #FAFAFA;">
                        <ul>
                            <li ng-repeat="image_select in vm.product_details.image track by $index" style="padding-bottom:1em">
                                <div class="row" style="margin-bottom:0px;">
                                    <span class="col l6 m6 s6">
                                        <div class="btn btn-default" ngf-select ngf-change="vm.upload($files,this,$index)">Select Image</div>
                                    </span>
                                    <span class="col l4 m4 s4">
                                        <img class="right image_view{{$index}}" style="height:70px;width:auto; display:none;" ng-src="{{vm.product_details.image[$index]}}" />
                                        <div class="preloader-wrapper small active right loader_view{{$index}}" style="display:none;">
                                            <div class="spinner-layer spinner-blue-only">
                                                <div class="circle-clipper left">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="gap-patch">
                                                    <div class="circle"></div>
                                                </div>
                                                <div class="circle-clipper right">
                                                    <div class="circle"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </span>

                                    <span class="right  l2 m2 s2" ng-hide="image_select.length == 1">
                                        <a href ng-click="vm.product_details.image.splice($index, 1)"><i class="fa fa-times fa-2x"></i></a>
                                    </span>
                                </div>
                            </li>
                            <li class="center">
                                <a ng-click="vm.add_row(vm.product_details.image, 'image', $event)"><i class="fa fa-plus fa-2x"></i></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" style="background-color:#34314c;color:#ffc952" ng-click="vm.add_product();">Save</a>
    </div>
</div>