<div class="row">
    <p class="fontheader">Products</p>
    <div class="col l12">
        <div class="col l3" style="position:relative" ng-repeat="product in vm.products" ng-if="vm.category.main === product.main_category && vm.category.sub === product.sub_category">
            <a class="modal-trigger" ng-click="vm.open_product_modal(product);">
                <div class="card" style="background: url('{{product.image[0]}}') center / cover; height: 350px"></div>
                <h5 class="imagetext">{{product.name}}</h5>
            </a>
        </div>
    </div>
</div>

<div class="row modal" id="viewproduct" style="width:80%">
    <div class="col l12 modal-content">
        <div class="col l6">
            <div class="col l12">
                <img class="responsive-img" src="{{vm.selected_product.image[0]}}">
            </div>
        </div>
        <div class="col l6">
            <h5 class="fontheader1"><u>{{vm.selected_product.name}}</u></h5>
            <div class="col l12">
                <p class="col l2"><b>Size :</b></p>
                <select class="col l10 browser-default">
                    <option ng-repeat="size in vm.selected_product.size">{{size}}</option>
                </select>
            </div>
            <div class="col l12">
                <p class="col l2"><b>Color :</b></p>
                <p class="col l2"  ng-repeat="color in vm.selected_product.color" style="width:25px; height:25px; background-color:{{color}}; border: 1px solid black; margin-right:1%"></p>
            </div>
            <div class="col l12">
                <p class="col l2"><b>Quantity :</b></p>
                <input class="col l4" type="number" placeholder="2">
            </div>
            <div class="col l12 center">
                <a class="col l4 button"><b style="margin-right:1%">Add to cart</b>|<i class="fa fa-shopping-cart" style="margin-left:1%;color:#ffc952"></i></a>
            </div>
        </div>
    </div>
</div>
