<div class="slider">
    <ul class="slides">
        <li>
            <img src="/assets/images/1.jpg">
        </li>
        <li>
            <img src="/assets/images/2.jpg">
        </li>
    </ul>
</div>

<div class="row">
    <div class="col l12" style="margin-bottom:0; position: relative;">
        <div class="col l6">
            <h4 style="margin-bottom: 0; color: #34314C;"><b>SHOP FOR</b></h4>
        </div>
        <div class="col l6" style="bottom: 0; position: absolute; right: 3px;">
            <a href="/more_collections" class="right" style="color: #47b8e0;">DISCOVER MORE PRODUCTS</a>
        </div>
    </div>
    <div class="col l3" style="position:relative" ng-repeat="category in vm.main_category" ng-if="$index < 4">
        <a href="/collection/{{category._id}}">
            <div class="card" style="background: url('{{category.image}}') center / cover; height: 350px"></div>
            <h5 class="imagetext">{{category.main_category}}</h5>
        </a>
    </div>
</div>